{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "import/no-self-import": "off",
        "import/no-cycle": "off",
        "import/no-relative-packages": "off",
        "import/no-named-as-default": "off",
        "import/no-named-as-default-member": "off",
        "import/named": "off",
        "import/order": "off",
        "prettier/prettier": ["error", {"singleQuote": true, "parser": "typescript"}],
        "import/prefer-default-export": "off",
        "import/no-useless-path-segments": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-duplicates": "off",
        "import/no-unresolved": "off",
        "@typescript-eslint/no-empty-function": "off",
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/function-component-definition": "off",
        "react/react-in-jsx-scope": "off",
        "no-use-before-define": "off",
        "react/prop-types": "off",
        "react/jsx-no-constructed-context-values": "off",
        "spaced-comment": "off",
        "no-shadow": "off",
        "react/jsx-filename-extension": [ 2, { "extensions": [".ts", ".tsx"] }],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
            }
         ]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
        }
      }
}
